.background-dark {
  background-color: var(--color-grey-4);
}

.transactions-buttons {
  display: flex;
  justify-content: space-between;
}

.listContainer {
  margin: 0 5%;
}

.listContainer_menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.form-container {
  border: 1px solid var(--color-grey-1);
  border-radius: 0.25rem;
  margin: 1rem 5%;
  padding: 2rem 1rem;
}

@media (min-width: 1024px) {
  main {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
  }

  .listContainer {
    margin: 0;
  }

  .form-container {
    margin-left: 0;
    margin-right: 0;
  }

  .listContainer {
    margin: 1rem 0;
    width: 55%;
  }

  .listContainer_menu {
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .transactions-buttons {
    gap: 1rem;
  }
}
